/* @font-face {
    font-family: "Exo2";
    src: url(http://www.example.org/mycustomfont.ttf) format("truetype");
} */

* {
    box-sizing: border-box;
}

html {
    display: block;
}

body {
    font-family: "Exo 2", "Helvetica Neue", Helvetica, sans-serif;
    font-size: 16px;
    color: #433f2b;
    line-height: 1.15;
    background-color: #f1ece9;
}

.container {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.header {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

.logo {
    max-width: 100px;
    min-width: 100px;
}

img {
    max-width: 100%;
    height: auto;
    border: none;
}

.name-title {
    text-transform: uppercase;
    text-align: right;
}

.name, .title {
    margin-top: 15px;
    margin-bottom: 0px;
}

.name {
    font-weight: 500;
}

.title {
    color: #af9571;
    font-weight: lighter;
}

hr {
    background: linear-gradient(90deg, #f1ece9 0%, #3f2f22 50%, #f1ece9 100%);
    height: 3px;
    margin: 20px 0 20px 0;
    border: 0px;
}

.banner {
    position: relative;
}

.banner-text {
    position: absolute;
    bottom: 20px;
    right: 20px;
}

.about-me-link {
    text-align: center;
    font-weight: bold;
}

.about-me-link a {
    border: 1px solid #959072;
    background-color: rgba(63, 47, 34, 0.5);
    padding: 10px;
    border-radius: 3px;
    color: #f1ece9;
}

.about-me-link a:hover, .about-me-link a:active {
    text-decoration: none;
    background-color: rgba(241, 236, 233, 0.1);
    color: #f1ece9;
}

a {
    text-decoration: none;
    color: #f0e7d7;
    border: 1px solid rgba(63, 47, 34, 0.5);
    background-color: #959072;
    padding: 10px;
    border-radius: 3px;
}

a:hover, a:active {
    text-decoration: underline;
    background-color: rgba(241, 236, 233, 0.5);
    color: #959072;
}

.projects {
    display: flex;
    flex-wrap: wrap;
    flex-flow: row;
}

.article-content {
    border: 1px solid #959072;
    border-radius: 10px;
    height: auto;
    text-align: center;
    margin: 0 auto;
    padding: 20px;
}

.article-text {
    vertical-align: middle;
}

.article-content:hover {
    background-color: #e9dfcd;
    border: 0px;
}

.article-icon {
    max-width: 180px;
    min-width: 100px;
    height: auto;
}

.article-title {
    color: #af9571;
    text-transform: uppercase;
    margin-bottom: 25px;
}

footer p {
    color: #959072;
    text-align: center;
    font-size: 0.9em;
}

.heart {
    display: inline-block;
    position: relative;
    color: #b63434;
}

.pulse {
    animation: pulse 1s linear infinite;
}

@keyframes pulse {
    0% {
        transform: scale(1.1);
    }
    50% {
        transform: scale(0.8);
    }
    100% {
        transform: scale(1);
    }
}

@media screen and (max-width: 600px) {
    .container {
        width: 100%;
    }
    .logo img {
        width: 80px;
    }
    .name {
        font-size: 1.4em;
        font-weight: 500;
    }
    .title {
        font-size: 1em;
        margin-top: 5px;
    }
    .banner-text {
        top: 3px;
        right: 5px;
    }
    .projects-header {
        font-size: 1.6em;
    }
    .projects {
        flex-flow: column;
    }
    .article-content {
        width: 100%;
        height: auto;
        margin: 0 auto;
        margin-bottom: 10px;
    }
    .article-title {
        font-size: 1.4em;
    }
}

@media screen and (min-width: 501px) and (max-width: 600px) {
    .name {
        font-size: 1.6em;
        font-weight: 500;
    }
    .title {
        font-size: 1.2em;
        margin-top: 10px;
    }
    .logo img {
        width: 90px;
    }
    .article-content {
        display: flex;
        align-items: center;
    }
    .article-icon {
        width: 100%;
    }
    .article-title {
        margin-top: 0px;
    }
    .article-image {
        width: 30%;
    }
    .article-text {
        width: 70%;
    }
}